#friends-display-link {
  text-align: center;
  display: block;
  padding: 15px 0px;
  background-color: #d70302;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -15px;
  color: rgb(207, 203, 203);
}

#friends-display-link i {
  margin: 0px 5px;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgb(180, 180, 180);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 148, 166);
}

.user-component__column:last-child {
  color: rgb(255, 148, 166);
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: #d70302;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 80px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
#splash-screen span {
  color: var(--yellow);
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-img img {
  width: 240px;
  height: 300px;
  animation: loading 0.7s linear infinite;
}
