.welcome-header {
  padding: 5px 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 300;
  color: var(--yellow);
}
.welcome-header__text {
  width: 60%;
  font-weight: 300;
  margin-bottom: 40px;
  font-size: 30px;
  color: #cbdffd;
  opacity: 0.7;
}
.welcome-header__img img {
  width: 100px;
  height: 120px;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
  background-color: #d70302;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
  color: white;
}

#login-form input::placeholder {
  color: white;
  opacity: 0.8;
}
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
}
#login-form a {
  margin: 10px 0px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}
#login-form p {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
}
